To github.com:wowmarcomei/kindle_notes_export.git
   f1a4fb0..74483f7  master -> master


# Folder view configuration files
.DS_Store
.idea
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache